html, body, div, span, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: 'system-ui', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align:baseline;
    background:transparent;
}
h1 {
    font-family: 'system-ui';
    font-size: 3rem;
    font-weight: 400;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.page-wrapper {
    transition: filter .5s;
}

.section-a-bg {
    width: 100%;
    background-image: url('../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 39rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'system-ui', Roboto;
}
h3 {
    font-size : 1.4rem;
    font-weight: 400;
    font-family: 'system-ui', Roboto;
}

.header div a{
    font-size: 1.1rem;
}

.apply-btn {
    height: 2.8rem;
    margin-top: -.5rem;
    width: max-content;
    padding: 0 1.5rem;
    display: flex;
    place-items: center;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
}
.content-a {
    margin-top: 8rem;
}
.section-a-masked {
    position: absolute;
    background-color: #0d114242;
    color: white;
    width: calc(100% - 18rem);
    padding: 4rem 9rem;
    top: 0;
    height: 31rem;
}
.about {
    margin-top: 3rem;
    font-size: 1.5rem;
}
.section-b {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    flex-direction: column
}
.title-wrapper {
    position: relative;
}
.content-a h1 span {
    color: #FFAA00;
}
.section-b h1{
    font-weight: 700;
}
.mini-underline {
    position: absolute;
    height: .35rem;
    width: 6rem;
    background: black;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.circles {
    display: flex;
    padding: 5rem 0;
}
.circle-container {
    position: relative;
}
.mini-circle {
    display: flex;
    border: .5rem solid white;
    font-size: 2.6rem;
    font-weight: 700;
    color: white;
    height: 6rem;
    width: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: -12px 0px 42px -14px black;
    position: absolute;
    top: 0%;
    right: 20%;
    z-index: 999;
}
.last-con .mini-circle {
    right: 0%;
}
.bg-orange {
    background: #FFAA00;
}
.bg-blue {
    background: #00C3E6;
}
.bg-green {
    background: #4CBB17;
}
.color-orange {
    color: #FFAA00;
}
.color-blue {
    color: #00C3E6;
}
.color-green {
    color: #4CBB17;
}
.inside-circle {
    height: 19rem;
    width: 19rem;
    box-shadow: -14px 0px 75px -22px black;
    position: absolute;
    left: 7.5%;
    top: 9%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.circle-logo {
    margin-top: 4rem;
}
.circle-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 1rem 0;
    align-self: center;
}
.login-ico {
    margin-top: 4.5rem;
    margin-bottom: .5rem;
}
.report-ico {
    margin-top: 4.3rem;
    margin-bottom: .5rem;
}
.circle-desc {
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #444444;
    text-align: center;
    line-height: 1rem;
}
.circle-3 {
    left: 9%;
    top: 9%;
}
.section-c{
    padding: 2rem 1rem 4rem 1rem;
    background: #E6E6E6;
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.section-c header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-c-header {
    font-weight: 700;
}
.section-c p {
    font-size: 1.1rem;
    color: #898989;
    font-weight: 500;

}
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    z-index:99999;
}
.start-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 7rem;
}
.opt-wrapper {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #222222;
}
select {
    width: 24rem;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid #697373;
    color:  #697373;
    font-weight: 600;
    font-size: .9rem;
}
#select-box {
    min-width: 320px;
    max-width: 30%;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    background: #fff;
}
.faux-select {
    height: 2rem;
    width: 24rem;
    list-style-type: none;
    padding: 0.4em 0;
    background: #fff;
    color: #697373;
    font-weight: 600;
    font-size: .9rem;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #697373;
    cursor: pointer;
    display: inline-block;
    position: relative;
    line-height: 2rem;
}
.faux-select li {
    padding: 0;
    text-indent: 1em;
    position: relative;
}
.faux-select li .options {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0.4em 0 0 0;
    background: transparent;
    position: absolute;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    border: 3px solid transparent;
    top: 2rem;
    left: -.1rem;
    transition: all ease 0.25s;
    z-index: 99;
}
.faux-select li .options li {
    padding: 0.4em 0;
    border-bottom: 2px solid #697373;
}
.faux-select li .options li:hover {
    background: #F6F6F6
}
.faux-select li .options li:last-of-type {
    border-bottom: 0;
}
.faux-select li .options.open {
    background: #fff;
    max-height: 1000%;
    border: 2px solid #697373;
}
.faux-select:before {
    content: '';
    height: .7rem;
    width: .7rem;
    transform: rotate(45deg);
    border-right: 2px solid #697373;
    border-bottom: 2px solid #697373;
    position: absolute;
    top: .8rem;
    right: 1rem;
    transition: all ease 0.2s;
}
.faux-select.open:before {
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #697373;
    border-top: 2px solid #697373;
    top: 1.2rem;
}
::marker {
    color: transparent
  }
p.label-class {
    color: #1C1C1C;
    margin-bottom: 1rem;
}
.progress-bar-wrapper {
    width: max-content;
    align-self: center;
    margin-top: 4rem;
}
.progress-bar {
    width: 40rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
}
.progress-unit {
    background: linear-gradient(to right, #fbbe55 0%, #78d072 45%, #0E8E00 100%);
    height: calc(100% - 2px);
    border-radius: 8px;
    width: 0%; /*changes later*/
}
.percent-val {
    margin-top: 1rem
}
.submit-form-btn {
    background: #A1CA9C;
    border: none;
    color: white;
    align-self: flex-end;
    pointer-events: none;
    margin-top: 1.5rem;
}
.rocket-png {
    position: absolute;
    bottom: -10%;
    right: -2%;
    z-index:999
}
.footer-section {
    background: #094009;
    color: ghostwhite;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 4rem 1rem 4rem 9rem;
    width: calc(100% - 10rem);
}
a {
    color: ghostwhite;
    text-decoration: none
}
a:hover {
    color: #8f8f92
}
.f-links {
    display: flex;
    flex-direction: column;
}
.link-head{
    margin-bottom: 1rem
}
.f-links a{
    margin-top: 1rem;
    font-weight: 400;
}
.brand-desc {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 2rem;
    vertical-align: middle;
}
.f-about-links {
    margin-top: 3rem;
}
.icon-wrapper {
    margin-top: 2rem;
}
.icon-wrapper a i {
    font-size: 1.6rem;
    margin-right: .5rem;
}
.contact-number {
    margin-top: 2rem
}
.m-circles {
    display: none;
}

#root {
    position: relative;
}
.login-modal {
    position: fixed;
    left: 50%;
    top: 5rem;
    transform: translate(-50%, 0%);
    width: 45rem;
    padding: 1rem 4rem;
    display: none;
    z-index: 99999;
    border-radius: 10px;
}
.modal-header {
    position: relative;
    background: #44C230;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 5px 5px 0 0;
}
.modal-body {
    background: white;
    height: 100%;
    padding: 2rem;
    border-radius: 0 0 5px 5px;
}
p.bold-p {
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}
.inputs {
    margin-top: 3rem;
}
.input-group {
    position: relative;
    margin-bottom: 2rem;
}

.input-group .input-area {
    outline: none;
    border: 2px solid #dadce0;
    padding: 16px 13px;
    font-size: 18px;
    border-radius: 5px;
    width: calc(100% - 2rem)
}

.input-group .input-area:valid + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: #8d8d8d;
}

.input-group .input-area:focus {
    border: 2px solid royalblue;
}

.input-group .label {
    color: #8d8d8d;
    position: absolute;
    top: 20px;
    left: 13px;
    background: #ffffff;
}

.input-group .input-area:focus + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: royalblue;
}
.login-btn {
    height: 2.8rem;
    width: max-content;
    padding: 0 2.5rem;
    display: flex;
    place-items: center;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    background: #48c035;
    font-weight: 500;
    color: white;
    margin-left: auto;
}
.close-button {
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 4px;
    top: 0;
    cursor: pointer;
}
.close-button i {
    font-size: 2rem;
}

/* media queries */
@media only screen and (max-width: 1300px) {
    .circles {
        display: none;
    }
    .m-circles {
        display: block;
        margin-top: 3rem;
    }
    .inside-circle {
        top: 7%;
        left: 9.5%;
    }
    .circle-3 {
        top: 9%;
    }
    .mini-circle {
        top: 50%;
        right: 0;
    }
    .last-con .mini-circle {
        top: 60%;
    }

}
@media only screen and (max-width: 986px) {
    .rocket-png {
        display: none;
    }
    .start-form {
        grid-template-columns: 1fr;
        margin: auto;
    }
    .progress-bar {
        width: 20rem;
    }
    .footer-section {
        grid-template-columns: 1fr;
        grid-gap: 3rem 2rem;
    }
    .icon-wrapper, .contact-number {
        margin-top: 1rem
    }
    .link-head {
        margin-bottom: 0
    }
}

@media only screen and (max-width: 768px) {
    .section-a-masked {
        padding: 4rem 2rem;
        width: calc(100% - 4rem);
    }
    .footer-section {
        padding: 4rem 1rem 4rem 2rem;
        width: calc(100% - 3rem);
    }
    .login-modal {
        width: 28rem;
    }
    .modal-header {
        font-size: 1.3rem;
    }
    .close-button {
        right: 2px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
    .about {
        font-size: 1rem;
    }
    .brand {
        font-size: 1.4rem;
    }
    .apply-btn {
        height: 2.2rem;
        width: max-content;
        padding: 0 1rem;
    }
    .header div a {
        font-size: .9rem;
    }
    .login-modal {
        width: 18rem;
    }
}